{% extends 'layout.j2' %}

{% block header %}
  <h1>{% block title %}Banks{% endblock %}</h1>
{% endblock %}

{% block content %}
    <div>
      <form action method="post">
        <u><legend>Add new bank</legend></u>
        <br>
        <label for="bankName">Bank Name*</label>
        <input type="text" name="bankName" id="bankName">
        <label for="bankAddress">Bank Address*</label>
        <input type="text" name="bankAddress" id="bankAddress">
        <label for="city">City*</label>
        <input type="text" name="city" id="city">
        <label for="state">State*</label>
        <select id="state" name="state">
          <option>SELECT STATE</option>
          <option value="AL">ALABAMA</option>
          <option value="AK">ALASKA</option>
          <option value="AZ">ARIZONA</option>
          <option value="AR">ARKANSAS</option>
          <option value="CA">CALIFORNIA</option>
          <option value="CO">COLORADO</option>
          <option value="CT">CONNECTICUT</option>
          <option value="DE">DELEWARE</option>
          <option value="FL">FLORIDA</option>
          <option value="GA">GEORGIA</option>
          <option value="HW">HAWAII</option>
          <option value="ID">IDAHO</option>
          <option value="IL">ILLINIOS</option>
          <option value="IN">INDIANA</option>
          <option value="IA">IOWA</option>
          <option value="KS">KANSAS</option>
          <option value="KY">KENTUCKY</option>
          <option value="LA">LOUISIANA</option>
          <option value="ME">MAINE</option>
          <option value="MD">MARYLAND</option>
          <option value="MA">MASSACHUSETTS</option>
          <option value="MI">MICHIGAN</option>
          <option value="MN">MINNESOTA</option>
          <option value="MS">MISSISSIPPI</option>
          <option value="MO">MISSOURI</option>
          <option value="MT">MONTANA</option>
          <option value="NE">NEBRASKA</option>
          <option value="NV">NEVADA</option>
          <option value="NH">NEW HAMPSHIRE</option>
          <option value="NJ">NEW JERSEY</option>
          <option value="NM">NEW MEXICO</option>
          <option value="NY">NEW YORK</option>
          <option value="NC">NORTH CAROLINA</option>
          <option value="ND">NORTH DAKOTA</option>
          <option value="OH">OHIO</option>
          <option value="OK">OKLAHOMA</option>
          <option value="OR">OREGON</option>
          <option value="PA">PENNSYLVANIA</option>
          <option value="RI">RHODE ISLAND</option>
          <option value="SC">SOUTH CAROLINA</option>
          <option value="SD">SOUTH DAKOTA</option>
          <option value="TN">TENNESSEE</option>
          <option value="TX">TEXAS</option>
          <option value="UT">UTAH</option>
          <option value="VT">VERMONT</option>
          <option value="VA">VIRGINIA</option>
          <option value="WA">WASHINGTON</option>
          <option value="WV">WEST VIRGINIA</option>
          <option value="WI">WISCONSIN</option>
          <option value="WY">WYOMING</option>
        </select>
        <br>
        <label for="zip">Zip Code*</label>
        <input type="text" name="zip" id="zip">
        <label for="zip">Phone*</label>
        <input type="text" name="phone" id="phone" placeholder="999-999-9999">
        <a style="font-size:12px;">* denotes required field</a>
        <input type="submit" formmethod="post" value="Add Bank">
      </form>
    </div>

    <br>
    <h3>Banks Table</h3>
    <table class="dataTable" border="1">
    <thead>
    <tr>
        <th>Bank Name</th>
        <th>Bank Address</th>
        <th>Phone Number</th>
    </tr>
    <tbody>
    {% for item in people %}
    <tr>
        <td>{{item['name']}}</td>
        <td>{{item['name']}}</td>
        <td>{{item['location']}}</td>
        <td><input type="submit" formmethod="post" value="Delete"></td>
        <td><input type="submit" formmethod="post" value="Update"></td>
    </tr>
    {% endfor %}
    </table>
{% endblock %}