{% extends 'layout.j2' %}

{% block header %}
  <h1>{% block title %}Donations Table{% endblock %}</h1>
{% endblock %}

{% block content %}
    <div>
      <form action method="post">
        <u><legend>Donations Relationships</legend></u>
        <br>
        <label for="bankName">Schedule ID*</label>
        <input type="text" name="scheduleID" id="scheduleID">
        <label for="bankAddress">Phlebotomist ID*</label>
        <input type="text" name="phlebotomistID" id="phlebotomistID">
        <label for="bankName">Donor ID*</label>
        <input type="text" name="donorID" id="donorID">
        <a style="font-size:12px;">* denotes required field</a>
      </form>
    </div>

    <button class="button" type="button">Add Relationship</button>
    <button class="button" type="button">Delete Relationship</button>
    
    <br>
    <br>
    <table class="dataTable" border="1">
    <thead>
    <tr>
        <th>Schedule ID</th>
        <th>Phlebotomist ID</th>
        <th>Donor ID</th>
        
    </tr>
    <tbody>

    {% for item in people %}
    <tr>
        <td>{{item[0]}}</td>
        <td>{{item[1]}}</td>
        <td>{{item[2]}}</td>
    </tr>
    </div>
    {% endfor %}
    </table>

{% endblock %}