{% extends 'layout.j2' %}

{% block header %}
  <h1>{% block title %}Donors{% endblock %}</h1>
{% endblock %}

{% block content %}
    <div>
      <form action method="post">
        <u><legend>Add new donor</legend></u>
        <br>
        <label for="firstName">First name*</label>
        <input type="text" name="firstName" id="firstName">
        <label for="lastName">Last name*</label>
        <input type="text" name="lastName" id="lastName">
        <label for="dateOfBirth">Date of Birth*</label>
        <input type="text" name="dateOfBirth" id="dateOfBirth">
        <label for="bloodType">Blood Type*</label>
        <input type="text" name="bloodType" id="bloodType">
        <label for="nextDonationDate">Next Donation Date</label>
        <input type="text" name="nextDonationDate" id="nextDonationDate">
        <label for="lastDonationDate">Last Donation Date</label>
        <input type="text" name="lastDonationDate" id="lastDonationDate">
        <label for="street">Street*</label>
        <input type="text" name="street" id="street">
        <label for="city">City*</label>
        <input type="text" name="city" id="city">
        <label for="state">State*</label>
        <input type="text" name="state" id="state">
        <label for="zip">Zip Code*</label>
        <input type="text" name="zip" id="zip">
        <label for="phone">Phone Number*</label>
        <input type="text" name="phone" id="phone">
        <label for="email">Email*</label>
        <input type="text" name="email" id="email">
        <a style="font-size:12px;">* denotes required field</a>
        <input type="submit" formmethod="post" value="Add Donor">
      </form>
    </div>

    <br>
    <ul> <h3> Filter By:</h3>
     <li><a href="{{ url_for('donors') }}">First Name</a></li>
     <li><a href="{{ url_for('donors_last') }}">Last Name</a></li>
     <li><a href="{{ url_for('donors_DOB') }}">Date of Birth</a></li>
    </ul>
  

    <label for="sortBy">Sort By:</label>
    <select name="sortBy">
      <option value="firstNameSort">First Name</option>
      <option value="lastNameSort">Last Name</option>
      <option value="dobSort">Date of Birth</option>
    </select>
    
    <br>
    <br>

    <table class="dataTable" border="1">
    <thead>
    <tr>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Date of Birth</th>
        <th>Blood Type</th>
    </tr>
    <tbody>
    {% for item in people %}
    <tr>
        <td>{{item[1]}}</td>
        <td>{{item[2]}}</td>
        <td>{{item[3]}}</td>
        <td>{{item[4]}}</td>
        <td><input type="submit" formmethod="post" value="Delete"></td>
        <form id="updateDonor" action="{{ url_for('update_donor', rowId=item[0]) }}" method="post">
          <td><input type="submit" value="Update"></td>
        </form>
    </tr>
    {% endfor %}
    </table>
{% endblock %}