{% extends 'layout.j2' %}

{% block header %}
  <h1>{% block title %}Donors{% endblock %}</h1>
{% endblock %}

{% block content %}
    <div>
    
      <! -- VALIDATE INPUT -- !>
      {% with messages = get_flashed_messages() %}
        {% if messages %}
          <ul class=flashes>
          </ul>
        {% endif %}
      {% endwith %}
      {% block body %}{% endblock %}

      <form action="/add_new_donor" method="post">
        <u><legend>Add new donor</legend></u>
        <br>
        <label for="firstName">First name*</label>
        <input type="text" name="firstName" id="firstName">
        <label for="lastName">Last name*</label>
        <input type="text" name="lastName" id="lastName">
        <label for="dateOfBirth">Date of Birth*</label>
        <input type="date" name="dateOfBirth" id="dateOfBirth">
        <label for="bloodType">Blood Type</label>
        <select id="bloodType" name="bloodType" id="bloodType">
          <option value="A+">A+</option>
          <option value="A-">A-</option>
          <option value="B+">B+</option>
          <option value="B-">B-</option>
          <option value="O+">O+</option>
          <option value="O-">O-</option>
          <option value="AB+">AB+</option>
          <option value="AB-">AB-</option>
        </select>
        <br>
        <label for="nextDonationDate">Next Donation Date</label>
        <input type="date" name="nextDonationDate" id="nextDonationDate">
        <label for="lastDonationDate">Last Donation Date</label>
        <input type="date" name="lastDonationDate" id="lastDonationDate">
        <label for="street">Street*</label>
        <input type="text" name="street" id="street">
        <label for="city">City*</label>
        <input type="text" name="city" id="city">
        <label for="state">State</label>
        <select id="state" name="state" id="state">
          <option value="AL">ALABAMA</option>
          <option value="AK">ALASKA</option>
          <option value="AZ">ARIZONA</option>
          <option value="AR">ARKANSAS</option>
          <option value="CA">CALIFORNIA</option>
          <option value="CO">COLORADO</option>
          <option value="CT">CONNECTICUT</option>
          <option value="DE">DELEWARE</option>
          <option value="FL">FLORIDA</option>
          <option value="GA">GEORGIA</option>
          <option value="HW">HAWAII</option>
          <option value="ID">IDAHO</option>
          <option value="IL">ILLINIOS</option>
          <option value="IN">INDIANA</option>
          <option value="IA">IOWA</option>
          <option value="KS">KANSAS</option>
          <option value="KY">KENTUCKY</option>
          <option value="LA">LOUISIANA</option>
          <option value="ME">MAINE</option>
          <option value="MD">MARYLAND</option>
          <option value="MA">MASSACHUSETTS</option>
          <option value="MI">MICHIGAN</option>
          <option value="MN">MINNESOTA</option>
          <option value="MS">MISSISSIPPI</option>
          <option value="MO">MISSOURI</option>
          <option value="MT">MONTANA</option>
          <option value="NE">NEBRASKA</option>
          <option value="NV">NEVADA</option>
          <option value="NH">NEW HAMPSHIRE</option>
          <option value="NJ">NEW JERSEY</option>
          <option value="NM">NEW MEXICO</option>
          <option value="NY">NEW YORK</option>
          <option value="NC">NORTH CAROLINA</option>
          <option value="ND">NORTH DAKOTA</option>
          <option value="OH">OHIO</option>
          <option value="OK">OKLAHOMA</option>
          <option value="OR">OREGON</option>
          <option value="PA">PENNSYLVANIA</option>
          <option value="RI">RHODE ISLAND</option>
          <option value="SC">SOUTH CAROLINA</option>
          <option value="SD">SOUTH DAKOTA</option>
          <option value="TN">TENNESSEE</option>
          <option value="TX">TEXAS</option>
          <option value="UT">UTAH</option>
          <option value="VT">VERMONT</option>
          <option value="VA">VIRGINIA</option>
          <option value="WA">WASHINGTON</option>
          <option value="WV">WEST VIRGINIA</option>
          <option value="WI">WISCONSIN</option>
          <option value="WY">WYOMING</option>
        </select>
        <br>
        <label for="zip">Zip Code*</label>
        <input type="text" name="zip" id="zip">
        <label for="phone">Phone Number*</label>
        <input type="text" name="phone" id="phone" placeholder="999-999-9999">
        <label for="email">Email*</label>
        <input type="text" name="email" id="email">
        <a style="font-size:12px;">* denotes required field</a>
        <input type="submit" formmethod="post" value="Add Donor">
      </form>
    </div>
  
  <br>
  <br>

    <label for="sortBy">Sort By:</label>
    <form action="/donors_sort" method="post">
    <select name="sortBy">
      <option value="firstNameSort">First Name</option>
      <option value="lastNameSort">Last Name</option>
      <option value="dobSort">Date of Birth</option>
      <input type="submit" name="sortButton" value="Confirm">
    </select>
    </form> 

    <table class="dataTable" border="1">
    <thead>
    <tr>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Date of Birth</th>
        <th>Blood Type</th>
    </tr>
    <tbody>
    {% for item in people %}
    <tr>
        <td>{{item[1]}}</td>
        <td>{{item[2]}}</td>
        <td>{{item[3]}}</td>
        <td>{{item[4]}}</td>
        <td> <input type='button' value='Delete' name='delete' onclick="window.location = '/delete_donor/{{item[0]}}'"></td>
        <form id="updateDonor" action="{{ url_for('update_donor', rowId=item[0]) }}" method="post">
          <td><input type="submit" value="Update"></td>
        </form>
    </tr>
    {% endfor %}
    </table>
{% endblock %}