{% extends 'layout.j2' %}

{% block header %}
  <h1>{% block title %}Home{% endblock %}</h1>
{% endblock %}

{% block content %}
  <h2>Donors</h2>
    <p>Tracks the donors that have given blood to the bloodbank. Allows the user add, delete, or update donors.</p>
  <h2>Phlebotomists</h2>
    <p>Tracks the phlebotomists (employees) that work at the bloodbanks. Allows the user add, delete, or update phlebotomists.</p>
  <h2>Schedules</h2>
    <p>Allows the blood bank to retain and maintain a schedule. Allows the user add, delete, or update schedules.</p>
  <h2>Banks</h2>
    <p>Allows a way for the schedule to be linked to a certain bank.</p>
  <h2>Donors_Schedules</h2>
    <p>Allows the relationships between Donors and Schedules (M:M relationship) to be added or deleted</p>
  <h2>Phlebotomists_Schedules</h2>
    <p>Allows the relationships between Phlebotomists and Schedules (M:M relationship) to be added or deleted</p>

{% endblock %}