{% extends 'layout.j2' %}

{% block header %}
  <h1>{% block title %}Phlebotomists_Schedules Table{% endblock %}</h1>
{% endblock %}

{% block content %}
    <div>
      <form action method="post">
        <u><legend>Phlebotomists/Schedules Relationship</legend></u>
        <br>
        <label for="bankName">Phlebotomist ID*</label>
        <input type="text" name="phlebotomistID" id="phlebotomistID">
        <label for="bankAddress">Schedule ID*</label>
        <input type="text" name="scheduleID" id="scheduleID">
        <a style="font-size:12px;">* denotes required field</a>
      </form>
    </div>

    <button class="button" type="button">Add Relationship</button>
    <button class="button" type="button">Delete Relationship</button>
    
    <br>
    <br>
    <table class="dataTable" border="1">
    <thead>
    <tr>
        <th>Phlebotomist ID</th>
        <th>Schedule ID</th>
    </tr>
    <tbody>

    {% for item in people %}
    <tr>
        <td>----</td>
        <td>----</td>
    </tr>
    </div>
    {% endfor %}
    </table>

{% endblock %}