{% extends 'layout.j2' %}

{% block header %}
  <h1>{% block title %}Schedules{% endblock %}</h1>
{% endblock %}

{% block content %}
 <div>
      <form action method="post">
        <u><legend>Add new appoimtment</legend></u>
        <br>
        <label for="startTime">Start Time*</label>
        <input type="text" name="startTime" id="startTime">
        <label for="endTime">End Time*</label>
        <input type="text" name="endTime" id="endTime">
        <a style="font-size:12px;">* denotes required field</a>
        <input type="submit" formmethod="post" value="Add Schedule">
      </form>
    </div>

    <br>

    <table class="dataTable" border="1">
    <thead>
    <tr>
        <th>Name</th>
        <th>Age</th>
        <th>Location</th>
        <th>Favorite Language</th>
    </tr>
    <tbody>
    {% for item in people %}
    <tr>
        <td>{{item['name']}}</td>
        <td>{{item['age']}}</td>
        <td>{{item['location']}}</td>
        <td>{{item['favorite_color']}}</td>
        <td><input type="submit" formmethod="post" value="Delete"></td>
        <td><input type="submit" formmethod="post" value="Update"></td>
    </tr>
    {% endfor %}
    </table>
{% endblock %}