{% extends 'layout.j2' %}

{% block header %}
  <h1>{% block title %}Schedules{% endblock %}</h1>
{% endblock %}

{% block content %}
 <div>
      <form id="newSchedule" action="/add_new_schedule" method="post">
        <u><legend>Add new appointment</legend></u>
        <br>
        <label for="scheduleDate">Date*</label>
        <input type="date" name="scheduleDate" id="scheduleDate">
        <label for="startTime">Start Time*</label>
        <input type="text" name="startTime" id="startTime">
        <label for="endTime">End Time*</label>
        <input type="text" name="endTime" id="endTime">
        <a style="font-size:12px;">* denotes required field</a>
        <input type="submit" value="Add Schedule">
      </form>
    </div>

    <br>

    <table class="dataTable" border="1">
    <thead>
    <tr>
        <th>Bank ID</th>
        <th>Schedule Date</th>
        <th>Start Time</th>
        <th>End Time</th>
    </tr>
    <tbody>
    {% for item in people %}
    <tr>
        <td>{{item[1]}}</td>
        <td>{{item[2]}}</td>
        <td>{{item[3]}}</td>
        <td>{{item[4]}}</td>
        <td> <input type='button' value='Delete' name='delete' onclick="window.location = '/delete_schedule/{{item[0]}}'"></td>
        <form id="updateSchedule" action="{{ url_for('update_schedule', rowId=item[0]) }}" method="post">
          <td><input type="submit" value="Update"></td>
        </form>
    </tr>
    {% endfor %}
    </table>
{% endblock %}